__pycache__/
*/__pycache__
*/train
/dataset/all/train
*.jpg
filesJSON/
*_jpg
frame*
hyp_auto*.yaml
hyp_finetune*.yaml
events*
*.pt
*.pth
*.onnx
*.tflite
*.pb
*.zip
*.log
*.txt
*.csv
*.npy
*.out
*.data
*.cache
wandb
model_checkpoints/
dataset*
results*
runs
.codex
.env
CLAUDE.md
.vscode/settings.json
src/Detectors/YOLOV5_TPH/tph-yolov5
