.vscode
.RData
.Rhistory
.idea
checkpoints/**
dataset/**
__pycache__/**
data.yaml
src/Detectors/**/__pycache__
src/Detectors/MMdetection/checkpoints
src/Detectors/MMdetection/mmdetection/configs
src/model_checkpoints